%h2= @jam.title
%h4= @jam.owner.login
%p= link_to "Редактировать", edit_jam_path(@jam) if current_user.can_update?(@jam)
%p= link_to "Удалить", jam_path(@jam), method: :delete, data: { confirm: "Вы уверены, что хотите удалить?" } if current_user.can_delete?(@jam)

-if @jam.invites.empty?
  %p Для этого джема пока нет приглашений
-else
  %h5 Отправленные приглашения
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th Статус приглашения
        %th Приглашенный пользователь
        %th{width: 10}
        %th{width: 10}
    %tbody
      - @jam.invites.each do |invite|
        %tr
          %td= invite.state
          %td= link_to invite.receiver.login, user_page(invite.receiver)

%p= link_to "К списку всех джемов", jams_path

%ul
  - @jam.users.each do |user|
    %li= link_to user.login, user_page_path(user)

- if current_user.can_invite?(@jam)

  = form_tag jam_invite_path(@jam), {}  do
    = select_tag "receivers_ids[]", options_for_select(User.all.collect{|user| [user.login, user.id]}), {multiple: :multiple}
    %br
    %br
    = submit_tag "Пригласить"
