%h1 Личный кабинет
%h3
  Добро пожаловать,
  = @user.login
%p
  = link_to "Создать джем", new_jam_path

-if @user.income_invites.empty?
  %p У вас пока нет входящих приглашений
-else
  %h5 Входящие приглашения
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th Джем
        %th Статус приглашения
        %th Автор джема
        %th{width: 10}
        %th{width: 10}
        %th{width: 10}
    %tbody
      - @user.income_invites.each do |invite|
        %tr
          %td= invite.jam.title
          %td
            %p= invite.state
            - if invite.new?
              %p= link_to "Принять", invite_accept_path(invite), :method => :put
              %p= link_to "Отклонить", invite_reject_path(invite), :method => :put
            - elsif invite.accepted?
              %p= link_to "Запись джема", jam_path(invite.jam)
          %td= link_to invite.jam.owner.login, user_page(invite.jam.owner)

%p= link_to "К списку всех джемов", jams_path

= link_to "Выйти", destroy_user_session_path, :method => :delete, class: 'btn btn-danger'