%h1 Личный кабинет
%h3
  Добро пожаловать,
  = @user.login
%p
  = link_to "Создать студию", '#'
%p
  = link_to "Все студии", '#'
%p
  = link_to "Сообщения", '#'
%p
  = link_to "Приглашения", '#'
%p
  = link_to "Настройки аккаунта", '#'
= link_to "Выйти", destroy_user_session_path, :method => :delete, class: 'btn btn-danger'